* {
	box-sizing: border-box;
}

body {
    font-family: Microsoft YaHei, 微软雅黑, Hiragino Sans GB;
}

@media (min-width:320px)
{
    .wrapper {
        min-width: 300px !important;
        padding-top: 5px;
        padding-left: 5px;
        padding-right: 5px;
        padding-bottom: 5px;
    }

    .date {
        font-size: 0.8em;
    }

    .title:link {
        color: #000;
    }
}

@media (min-width:1024px)
{
    .wrapper {
        width: 35em;
        min-width: 700px !important;
        margin: 2em auto;
        padding-top: 25px;
        padding-left: 30px;
        padding-right: 30px;
        padding-bottom: 10px;
        border-color: #DDD;
        border-style: solid;
        border-width: 1px;
        border-radius: 3px;
    }

    .date {
        font-size: 0.8em;
        float:right;
        margin-top:6px;
    }

    .title:link {
        font-size: 1.3em;
        color: #000;
    }
}

.entry {
    padding: 1em 0px 0.3em;
}

.bottom_nav {
    margin-top:10px;
}
.next {
    margin-right:0px;
    float:right;
    color: #000;
}

.next a{
    color: #000;
	text-decoration:none;
}

.next a:focus, a:active, a:hover{
	text-decoration:underline;
}

.previous a{
    color: #000;
	text-decoration:none;
}

.previous a:focus, a:active, a:hover{
	text-decoration:underline;
}

a.nav:visited {
	color: #000;
}

.content a {
	color: #4183C4;
	text-decoration:none;
	background: none repeat scroll 0% 0% transparent;
}

.content a:focus, a:active, a:hover{
	text-decoration:underline;
}

.content a:visited {
	color: #000;
}

.blog-name {
    font-size: 1.3em;
}

.nav:link {
    margin-left: 5%;
    font-size: 1.2em;
    color: #000;
}

.content {
    margin-top: 5%;
}

