* {
	box-sizing: border-box;
}

body {
    font-family: 微软雅黑, Hiragino Sans GB, serif;
}

p {
    line-height:1.5em;
}

.wrapper {
    margin: 2em auto;
	width: 35em;
    border-color: #DDD;
    border-style: solid;
    border-width: 1px;
    border-radius: 3px;
    padding-top: 25px;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 10px;
    min-width: 700px !important;
}

.entry {
    margin-bottom:4px;
}

.date {
	font-size: 0.8em;
    float:right;
    margin-top:6px;
}

.next {
    margin-top:15px;
    text-align:right;
    color: #000;
}

.previous {
    margin-top:15px;
}

.next a{
    color: #000;
	text-decoration:none;
}

.next a:focus, a:active, a:hover{
	text-decoration:underline;
}

.previous a{
    color: #000;
	text-decoration:none;
}

.previous a:focus, a:active, a:hover{
	text-decoration:underline;
}

a.nav:visited {
	color: #000;
}

.content a {
	color: #4183C4;
	text-decoration:none;
	background: none repeat scroll 0% 0% transparent;
}

.content a:focus, a:active, a:hover{
	text-decoration:underline;
}

.content a:visited {
	color: #000;
}

.blog-name {
    font-size: 1.3em;
}

.nav:link {
    margin-left: 5%;
    font-size: 1.2em;
    color: #000;
}

.content {
    margin-top: 5%;
}

.title:link {
    font-size: 1.3em;
    color: #000;
}

