* {
	box-sizing: border-box;
}

.wrapper {
    margin: 2em auto;
	width: 35em;
    border-color: #DDD;
    border-style: solid;
    border-width: 1px;
    border-radius: 3px;
    padding: 30px;
    min-width: 700px !important;
}

a.nav:visited {
	color: #000;
}

.content a {
	color: #4183C4;
	text-decoration:none;
	background: none repeat scroll 0% 0% transparent;
}

.content a:focus, a:active, a:hover{
	text-decoration:underline;
}

.content a:visited {
	color: #000;
}

.blog-name {
    font-size: 1.3em;
}

.nav:link {
    margin-left: 5%;
    font-size: 1.2em;
    color: #000;
}

.content {
    margin-top: 5%;
}

.title:link {
    font-size: 1.3em;
    color: #000;
}

