.wrapper {
    margin-left: 20%;
    margin-right: 20%;
    border-color: #DDD;
    border-style: solid;
    border-width: 1px;
    border-radius: 3px;
    padding: 30px;
    min-width: 700px !important;
}

a.nav:visited {
	color: #000;
}

.content a {
	color: #4183C4;
	text-decoration:none;
}

.content a:visited {
	color: #4183C4;
}

.content a:hover {
	color: #4183C4;
	text-decoration: underline;
}

.blog-name {
    font-size: 1.3em;
}

.nav:link {
    margin-left: 5%;
    font-size: 1.2em;
    color: #000;
}

.content {
    margin-top: 5%;
}

.title:link {
    font-size: 1.3em;
    color: #000;
}

code {
	margin: 0px;
	border: 1px solid #DDD;
	background-color: #F8F8F8;
	border-radius: 3px;
	padding: 0px;
}
