* {
	box-sizing: border-box;
}

.wrapper {
    margin: 2em auto;
	width: 35em;
    border-color: #DDD;
    border-style: solid;
    border-width: 1px;
    border-radius: 3px;
    padding: 30px;
    min-width: 700px !important;
}

a.nav:visited {
	color: #000;
}

.content a {
	color: #4183C4;
	text-decoration:none;
}

.content a:visited {
	color: #4183C4;
}

.content a:hover {
	color: #4183C4;
	text-decoration: underline;
}

.blog-name {
    font-size: 1.3em;
}

.nav:link {
    margin-left: 5%;
    font-size: 1.2em;
    color: #000;
}

.content {
    margin-top: 5%;
}

.title:link {
    font-size: 1.3em;
    color: #000;
}

pre {
	background: #f8f8f8;
	border: 1px solid #ccc;
	line-height: 1.428571429;
	word-break: break-all;
	word-wrap: break-word;
	font-size: 13px;
	overflow: auto;
	border-radius: 3px;
}

code {
	border: 1px solid #eaeaea;
	background-color: #f8f8f8;
	border-radius: 3px;
	text-shadow: none;
}

blockquote {
	border-left: 4px solid #DDD;
	padding: 0 15px;
	color: #777;
}
