<!DOCTYPE html>
<html>
<head>
<title>{blog_name}</title>
<meta charset='utf-8'>
<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
<link rel="stylesheet" href="./static/index.css">
</head>
<body>

<div class="wrapper">
<div class="header">
	<span class="blog-name">{blog_name}</span>

<a class="nav" href="index.html">Home</a>
<a class="nav" href="post/about.html">About</a>
</div>
<div class="content">

<div class="post-list">
{content}
</div>



</div>

<div class="bottom_nav">
{bottom_nav}
</div>

</div>
</body>

</html>
