<!DOCTYPE html>
<html>
<head>
<title>{blog_name}</title>
 <meta charset='utf-8'>
<link rel="stylesheet" href="https://yandex.st/highlightjs/8.0/styles/default.min.css">
<link rel="stylesheet" href="./static/index.css">
</head>
<body>

<div class="wrapper">
<div class="header">
	<span class="blog-name">{blog_name}</span>

<a class="nav" href="index.html">Home</a>
<a class="nav" href="post/about.html">About</a>
</div>
<div class="content">

<div class="post-list">
{content}
</div>

<div class="bottom_nav">
{bottom_nav}
</div>

</div>
</div>
</body>

</html>
